<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" content="bromo" />
<meta name="description" content="a short description of your company" />
<meta name="keywords" content="some keywords that best describe your business" />

<title>Bromo - Bromo - Static Slider with Right Video</title>

<!-- Mobile Device Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

<!-- Style -->
<link href="./css/style.css" rel="stylesheet" type="text/css">
<link href="./font/stylesheet.css" rel="stylesheet" type="text/css">

<!-- Javascript -->
<script type="text/javascript" src="./js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="./js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="./js/jquery.cycle.all.min.js"></script>
<script type="text/javascript" src="./js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="./js/jquery.tipsy.js"></script>
<script type="text/javascript" src="./js/custom.js"></script>
<script type="text/javascript" src="./js/animatedcollapse.js"></script>
<script type="text/javascript" src="./js/input.js"></script>
<script type="text/javascript" src="./js/jquery.nivo.slider.js"></script>
<script type="text/javascript" src="./js/slide.js"></script>
<script type="text/javascript" src="./js/slides.min.jquery.js"></script>
<script type="text/javascript" src="./js/jquery.jtweetsanywhere-1.3.1.min.js"></script>
<script type="text/javascript" src="./js/jquery.preloader.js"></script>
<script type="text/javascript" src="./js/jquery.eislideshow.js"></script>
<script type="text/javascript" src="./js/swfobject.js"></script>
<script type="text/javascript" src="./js/jquery.sourcerer.js"></script>
<script type="text/javascript" src="./js/jquery.ui.totop.js"></script>

</head>

<body>

<div class="wrap container">
	<div id="headerSlider">
    	<div class="glow">
         	<div class="menu-wrap">
        		<!-- start menu wrap -->
                <div class="main-menu-wrap">
                    
                    <!-- start logo -->
                    <div class="logo">
                        <img src="images/logo.png" alt="">
                    </div><!-- end logo -->
                    
                    <!-- start main menu -->
                    <div class="main-menu">
                        <ul>
                            <li class="active"><a href="#">HOME <span>it is home</span></a>
                                <ul>
                                    <li><a href="index.html">Nivo slider</a></li>
                                    <li><a href="index2.html">Slide down slider</a></li>
                                    <li><a href="index3.html">Elastic Image Slideshow</a></li>
                                    <li class="drop"><a href="">Static Slider</a>
                                    	<ul>
                                            <li><a href="index4.html">Slider with center text</a></li>
                                            <li><a href="index5.html">Slider with right video</a></li>
                                            <li><a href="index6.html">Slider with left video</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">PAGES <span>about pages</span></a>
                                <ul>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="typography.html">Typography</a></li>
                                    <li><a href="shadow-style.html">Shadow and Hover Style</a></li>
                                    <li><a href="pricing-tables.html">Pricing Table</a></li>
                                    <li><a href="table_and_columns.html">Table and Columns</a></li>
                                    <li><a href="sitemap.html">Sitemap</a></li>
                                    <li><a href="faq.html">FAQ's</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li><a href="#">BLOG <span>blog post</span></a>
                                <ul>
                                   <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                   <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                   <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="about-us.html">ABOUT US <span>who we are</span></a></li>
                            <li><a href="#">PORTOFOLIO <span>it is portofolio</span></a>
                                <ul>
                                    <li><a href="portofolio-1-columns.html">Portofolio one Column</a></li>
                                    <li><a href="portofolio-2-columns.html">Portofolio two Column</a></li>
                                    <li><a href="portofolio-3-columns.html">Portofolio three Column</a></li>
                                </ul>
                            </li>
                            <li><a href="contact-us.html">CONTACT <span>contact us</span></a></li>                    
                        </ul>
                    </div><!-- end main menu -->
                </div><!-- end main menu wrap -->
        	</div><!-- end menu wrap -->
        </div>
    </div><!-- end header section -->
    
    <div class="clear"></div>
        
    <div id="main">
    	<div class="main-wrap">
            <div id="slider" class="fix">
            	<!-- start static slider -->
              	<div class="oneHalf">
                    <div class="image frameInner">
                        <iframe width="425" height="275" src="http://www.youtube.com/embed/1iIZeIy7TqM" style="border: none"></iframe>                            
                    </div>
                    <div class="shadow"><img src="images/big-shadow3.png" alt=""></div>
       	    </div>
                <div class="oneHalf last">
                    <h1 class="white">Static slider with video</h1><br>
                    <p>Consectetueruer adipiscing elit, sed diam nonummy nibhhhitest euismod tincidunt ut laoreet dolore magnamus aliquam erat volutpat. 
                       Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis 
                       nisl ut aliquip ex ea commodo consequat.</p><br>
                    <a class="button medium orange">Sign up now &rarr;</a>
            	</div><!-- end static slider -->
            </div>
            
            <div class="clear"></div>
            
            <div class="promo-box">
            	<div class="threeFifths">
                    <h2>Welcome to Bromo Business and Corporate Template</h2>
                    <h3>Laoreet dolore magnamus aliquam erat volutpat</h3>
                </div>
                <div class="twoFifths last">
                	<a href="#" class="button medium blue">Buy now for $15</a> 
                    <span class="or"><span>or</span></span>
                    <a href="#" class="button medium orange">Take the tour </a>
                </div>
            </div> 
            
            <div class="clear20"></div>
            
            <!-- start three columns-->
            <div class="oneThird">
            	<img src="images/iMac.png" alt="" class="fl">
                <h3>Ut Wisi Enim Ad Minim Veniam</h3>
                <div class="clear20"></div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam  
                nibh euismod tincidunt ut laoreet dolore magnamus aliquam erat volutpat. 
                Ut wisi enim ad minim veniam.</p>
                <div class="clear20"></div>
                <a class="button fr" href="#">Read More &gt;</a>
            </div>
            <div class="oneThird">
            	<img src="images/lab.png" alt="" class="fl">
                <h3>Conse Cetuer Adipiscing Elit</h3>
                <div class="clear20"></div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam  
                nibh euismod tincidunt ut laoreet dolore magnamus aliquam erat volutpat. 
                Ut wisi enim ad minim veniam.</p>
                <div class="clear20"></div>
                <a class="button fr" href="#">Read More &gt;</a>
            </div>
            <div class="oneThird last">
            	<img src="images/lifesaver.png" alt="" class="fl">
                <h3>Sed Diam Nibh Euismod Tincidunt</h3>
                <div class="clear20"></div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam  
                nibh euismod tincidunt ut laoreet dolore magnamus aliquam erat volutpat. 
                Ut wisi enim ad minim veniam.</p>
                <div class="clear20"></div>
                <a class="button fr" href="#">Read More &gt;</a>
            </div><!-- end three columns -->
            
            <div class="clear20"></div>
            
            <div class="separator">
                <h5>Latest Portofolio</h5>
                <div class="sep_line"></div><!-- separator line -->
            </div>
            <div class="clear"></div>
            
            <!-- start Portofolios-->
            <div class="oneThird">
                <div class="image frameInner">
                	<a href="images/image1.jpg" data-rel="prettyPhoto" >
                        <img src="images/image1.jpg" alt="">
                        <div class="mask zoom">
                        	<p>Jan 24, 2012</p>
                        </div>
                	</a>
                </div>
                <span class="shadow"><img src="images/big-shadow4.png" alt=""></span>
                <h3><a href="#">Corporate Premium Template</a></h3><br>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy  text ever since the 1500s.</p><br>
            </div>
            <div class="oneThird">
                <div class="image frameInner">
                	<a href="http://www.youtube.com/watch?v=9ul0Qrlcu3s" data-rel="prettyPhoto" >
                        <img src="images/image2.jpg" alt="">
                        <div class="mask youtube">
                        	<p>Jan 24, 2012</p>
                        </div>
                	</a>
                </div>
                <span class="shadow"><img src="images/big-shadow4.png" alt=""></span>
                <h3><a href="#">Corporate Premium Template</a></h3><br>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy  text ever since the 1500s.</p><br>
            </div>
            <div class="oneThird last">
                <div class="image frameInner">
                	<a href="images/image3.jpg" data-rel="prettyPhoto" >
                        <img src="images/image3.jpg" alt="">
                        <div class="mask zoom">
                        	<p>Jan 24, 2012</p>
                        </div>
                	</a>
                </div>
                <span class="shadow"><img src="images/big-shadow4.png" alt=""></span>
                <h3><a href="#">Corporate Premium Template</a></h3><br>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy  text ever since the 1500s.</p><br>
            </div><!-- end portofolio columns -->
            
            <div class="clear"></div>
            
            <div class="separator">
                <h5>Our Services</h5>
                <div class="sep_line"></div><!-- separator line -->
            </div>
            <div class="clear"></div>
            
            <!-- start services -->
            <div class="threeFifths">
                <div class="oneFifth columns">
                    <div class="iconbox">
                        <span class="iconbox-icon"> 
                            <img src="./images/help.png" alt="">
                        </span>
                        <div class="iconbox-content">
                            <h3 class="iconbox-content-title">Full Support</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                        </div>
                    </div>
                </div>
                <div class="oneFifth columns">
                    <div class="iconbox">
                        <span class="iconbox-icon"> 
                            <img src="./images/gears.png" alt="">
                        </span>
                        <div class="iconbox-content">
                            <h3 class="iconbox-content-title">Easy Setup</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                        </div>
                    </div>
                </div>
                <div class="oneFifth columns last">
                    <div class="iconbox">
                        <span class="iconbox-icon"> 
                            <img src="./images/movie.png" alt="">
                        </span>
                        <div class="iconbox-content">
                            <h3 class="iconbox-content-title">Video Support</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                        </div>
                    </div>
                </div>
                
                <div class="clear20"></div>
                
                <div class="oneFifth columns">
                    <div class="iconbox">
                        <span class="iconbox-icon"> 
                            <img src="./images/layout.png" alt="">
                        </span>
                        <div class="iconbox-content">
                            <h3 class="iconbox-content-title">Beautiful design</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                        </div>
                    </div>
                </div>
                <div class="oneFifth columns">
                    <div class="iconbox">
                        <span class="iconbox-icon"> 
                            <img src="./images/write.png" alt="">
                        </span>
                        <div class="iconbox_content">
                            <h3 class="iconbox-content-title">Framework</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                        </div>
                    </div>
                </div>
                <div class="oneFifth columns last">
                    <div class="iconbox">
                        <span class="iconbox-icon"> 
                            <img src="./images/download.png" alt="">
                        </span>
                        <div class="iconbox-content">
                            <h3 class="iconbox-content-title">Download</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                        </div>
                    </div>
                </div>
            </div>
               
            <div class="twoFifths last">
                <!-- start toggles -->                
                <div class="toggles">
                    <ul>
                        <li>
                            <a href="#" data-rel="toggle[first]" data-openimage="./images/minus.png" data-closedimage="./images/plus.png">
                            <img src="./images/plus.png" alt=""><h4>Duis autem vel eum iriure</h4></a>
                            <div id="first">
                            <p>Lorem ipsum dolor sit amet, consectetueruer adipiscing elit, sed diam nonummy 
                            nibhhhitest euismod tincidunt ut laoreet dolore magnamus aliquam erat volutpat. 
                            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis 
                            nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit 
                            in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis
                            at vero</p>

                            </div>
                        </li>
                        <li>
                            <a href="#" data-rel="toggle[second]" data-openimage="./images/minus.png" data-closedimage="./images/plus.png">
                            <img src="./images/plus.png" alt=""><h4>Vel illum dolore eu feugiat</h4></a> 
                            <div id="second">
                            <p>Lorem ipsum dolor sit amet, consectetueruer adipiscing elit, sed diam nonummy
                             nibhhhitest euismod tincidunt ut laoreet dolore magnamus aliquam erat volutpat. 
                             Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
                             lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor 
                             in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat 
                             nulla facilisis at vero</p>
                            </div>
                        </li>
                        <li>
                            <a href="#" data-rel="toggle[third]" data-openimage="./images/minus.png" data-closedimage="./images/plus.png">
                            <img src="./images/plus.png" alt=""><h4>Euismod tincidunt ut laoreet</h4></a>
                            <div id="third">
                            <p>
                            Rabbits are ground dwellers that live in environments ranging from desert 
                            to tropical forest and wetland. Their natural geographic range encompasses the 
                            middle latitudes of the Western Hemisphere. In the Eastern 
                            Hemisphere rabbits are found in Europe, 
                            portions of Central and Southern Africa, the Indian subcontinent, Sumatra, and Japan.</p>
                            </div>
                        </li>
                    </ul>
                </div><!-- end toggles -->
            </div><!-- end services block -->
        </div>
    </div><!-- end main -->
    
    <div class="clear20"></div>
         
	<!-- start testimonial -->
	<div class="testimonial-wrap">
		<div class="testimonial">
        	<ul>
            	<li>
                	<p>&quot;Beautiful layout, <span>good documentation</span>, easy to operate with enormous opportunities for your own profile! 
                    Great – looking forward to your next work!.&quot;</p>
                </li>
                <li>
                	<p>&quot;Very impressive theme, really ! By the simplicity of the customization and the choice 
                    of the graphicals elements to do it. .&quot;- Yasamin Jasem (Mobilabs.com) -</p>
                </li>
                <li>
                    <p>&quot;Wow... This theme is fantastic. <span>Purchasing now</span>. I've been looking 
		    for a theme like this for my business. It has everything I need&quot; - John Doe (Business Owner) -</p>
                </li>
            </ul>
		</div>
	</div><!-- end testimonial -->
    
    <!-- start footer -->
    <div id="footer">
    	<div class="footer-wrap">
        
        	<div class="oneFourth"><img src="images/logo.png" alt=""></div>
            <div class="oneHalf"><p>magnamus aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper 
            suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse 
            molestie consequat.</p></div>
            <div class="oneFourth last"><a href="#" class="button medium orange">buy this template</a></div>
            
            <div class="dash-line gray"></div>
        	
            <!-- Pages -->
        	<div class="oneFifth">
                <div class="title"><h4>Features</h4></div>
                <div class="clear"></div>
                <ul class="bullet4">
                    <li><p><a href="#">Design</a></p></li>
                    <li><p><a href="#">Support</a></p></li>
                    <li><p><a href="#">Videos</a></p></li>
                    <li><p><a href="#">Custom</a></p></li>
                    <li><p><a href="#">Jquery</a></p></li>
                    <li><p><a href="#">Css3</a></p></li>
                    <li><p><a href="#">HTML5</a></p></li>
                </ul>
            </div><!-- end pages -->
            
             <!-- Pages -->
        	<div class="oneFifth">
                <div class="title"><h4>Pages</h4></div>
                <div class="clear"></div>
                <ul class="bullet4">
                    <li><p><a href="#">Slider</a></p></li>
                    <li><p><a href="#">Blog</a></p></li>
                    <li><p><a href="#">About Us</a></p></li>
                    <li><p><a href="#">Contact Us</a></p></li>
                    <li><p><a href="#">Typography</a></p></li>
                    <li><p><a href="#">Services</a></p></li>
                    <li><p><a href="#">Portofolio</a></p></li>
                </ul>
            </div><!-- end pages -->
            
            <!-- Pages -->
        	<div class="oneFifth">
                <div class="title"><h4>Company</h4></div>
                <div class="clear"></div>
                <ul class="bullet4">
                    <li><p><a href="#">Gallery</a></p></li>
                    <li><p><a href="#">Support</a></p></li>
                    <li><p><a href="#">Forum</a></p></li>
                    <li><p><a href="#">FAQ</a></p></li>
                    <li><p><a href="#">Term</a></p></li>
                    <li><p><a href="#">Privacy</a></p></li>
                </ul>
            </div><!-- end pages -->
            
           	<!-- about us -->
        	<div class="twoFifths last">
                <div class="title"><h4>About Us</h4></div>
                <div class="clear"></div>
                    <p><img src="images/building.png" alt="" class="fl">Sed fringilla dui id ante volutpat ut pellentesque lacus semper. 
                    Duis laoreet congue consectetur. Aliquam volutpat scelerisque dui ac fringilla. Praesent et volutpat urna. Sed ipsum dolor.
                    Praesent et volutpat urna.</p><br>
                    
                    <h4>Contact Sales</h4>
                    <p>888-217-233 &ensp; sales@yourdomain.com</p>
            </div><!-- end about us -->
        </div>
        
		<div class="clear"></div>
        
        <!-- start post footer -->
        <div class="post-footer">
            <div class="post-footer-wrap">
                <p class="fl">Copyright 2011 by Harrywebss. All Right Reserved</p> 
                <div class="fr phone">
                    <ul class="socialNav">
                        <li><a href="#" title="Facebook"><img src="images/facebook_icon.png" alt="Delicious"></a></li>
                        <li><a href="#" title="Twitter"><img src="images/twitter_icon.png" alt="Twitter"></a></li>
                        <li><a href="#" title="Dribble"><img src="images/dribble_icon.png" alt="Drible"></a></li>
                        <li><a href="#" title="StumbleUpon"><img src="images/su_icon.png" alt="StumbleUpon"></a></li>
                        <li><a href="#" title="RSS"><img src="images/rss_icon.png" alt="Rss"></a></li>
                    </ul>
                    <p class="fr" style="font-style:italic;">Let's be social</p>
                </div>
            </div>
        </div><!-- end post footer -->
    </div><!-- end footer -->
</div>
	
</body>

</html>
