<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" content="bromo" />
<meta name="description" content="a short description of your company" />
<meta name="keywords" content="some keywords that best describe your business" />

<title>Bromo - Contact Us</title>

<!-- Mobile Device Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

<!-- Style -->
<link href="./css/style.css" rel="stylesheet" type="text/css">
<link href="./font/stylesheet.css" rel="stylesheet" type="text/css">

<!-- Javascript -->
<script type="text/javascript" src="./js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="./js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="./js/jquery.cycle.all.min.js"></script>
<script type="text/javascript" src="./js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="./js/jquery.tipsy.js"></script>
<script type="text/javascript" src="./js/custom.js"></script>
<script type="text/javascript" src="./js/animatedcollapse.js"></script>
<script type="text/javascript" src="./js/input.js"></script>
<script type="text/javascript" src="./js/jquery.nivo.slider.js"></script>
<script type="text/javascript" src="./js/slide.js"></script>
<script type="text/javascript" src="./js/slides.min.jquery.js"></script>
<script type="text/javascript" src="./js/jquery.jtweetsanywhere-1.3.1.min.js"></script>
<script type="text/javascript" src="./js/jquery.preloader.js"></script>
<script type="text/javascript" src="./js/jquery.eislideshow.js"></script>
<script type="text/javascript" src="./js/swfobject.js"></script>
<script type="text/javascript" src="./js/jquery.sourcerer.js"></script>
<script type="text/javascript" src="./js/jquery.ui.totop.js"></script>

</head>

<body>

<div class="wrap container">
	<div id="header">
    	<div class="glow">
         	<div class="menu-wrap">
        		<!-- start menu wrap -->
                <div class="main-menu-wrap">
                    
                    <!-- start logo -->
                    <div class="logo">
                        <img src="images/logo.png" alt="">
                    </div><!-- end logo -->
                    
                    <!-- start main menu -->
                    <div class="main-menu">
                        <ul>
                            <li><a href="#">HOME <span>it is home</span></a>
                                <ul>
                                    <li><a href="index.html">Nivo slider</a></li>
                                    <li><a href="index2.html">Slide down slider</a></li>
                                    <li><a href="index3.html">Elastic Image Slideshow</a></li>
                                    <li class="drop"><a href="">Static Slider</a>
                                    	<ul>
                                            <li><a href="index4.html">Slider with center text</a></li>
                                            <li><a href="index5.html">Slider with right video</a></li>
                                            <li><a href="index6.html">Slider with left video</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="active"><a href="#">PAGES <span>about pages</span></a>
                                <ul>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="typography.html">Typography</a></li>
                                    <li><a href="shadow-style.html">Shadow and Hover Style</a></li>
                                    <li><a href="pricing-tables.html">Pricing Table</a></li>
                                    <li><a href="table_and_columns.html">Table and Columns</a></li>
                                    <li><a href="sitemap.html">Sitemap</a></li>
                                    <li><a href="faq.html">FAQ's</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li><a href="#" >BLOG <span>blog post</span></a>
                                <ul>
                                   <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                   <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                   <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="about-us.html">ABOUT US <span>who we are</span></a></li>
                            <li><a href="#" >PORTOFOLIO <span>it is portofolio</span></a>
                                <ul>
                                    <li><a href="portofolio-1-columns.html">Portofolio one Column</a></li>
                                    <li><a href="portofolio-2-columns.html">Portofolio two Column</a></li>
                                    <li><a href="portofolio-3-columns.html">Portofolio three Column</a></li>
                                </ul>
                            </li>
                            <li><a href="contact-us.html">CONTACT <span>contact us</span></a></li>                    
                        </ul>
                    </div><!-- end main menu -->
                </div><!-- end main menu wrap -->
        	</div><!-- end menu wrap -->
        
            <div class="header-wrap">
                <!-- start category -->
                <div class="cat">
                    <h3>Sitemap</h3> 
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li>/</li>
                            <li><a href="#">Pages</a></li>
                            <li>/</li>
                            <li>Sitemap</li>
                        </ul>
                </div><!-- end category -->
                
                <div class="call">
                	<h3 class="white">
                    	Call <strong>Bromo</strong> | 0800-1090-888
                    </h3>
                </div>
            </div>
        </div>
    </div><!-- end header section -->
    
    <!-- start main -->
    <div id="main">
    	<!-- start main wrap -->
        <div class="main-wrap">
            <!-- Pages -->
        	<div class="oneFourth">
                <h4>Pages</h4>
                <div class="clear20"></div>
                <ul class="bullet4">
                    <li><a href="services.html">Services</a></li>
                    <li><a href="typography.html">Typography</a></li>
                    <li><a href="shadow-style.html">Shadow and Hover Style</a></li>
                    <li><a href="pricing-tables.html">Pricing Table</a></li>
                    <li><a href="table_and_columns.html">Table and Columns</a></li>
                    <li><a href="sitemap.html">Sitemap</a></li>
                    <li><a href="faq.html">FAQ's</a></li>
                    <li><a href="404.html">404 Page</a></li>
                </ul>
            </div><!-- end pages -->
            
             <!-- Pages -->
        	<div class="oneFourth">
                <h4>Blog</h4>
                <div class="clear20"></div>
                <ul class="bullet4">
                   <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                   <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                   <li><a href="blog-details.html">Blog Details</a></li>
                </ul>
            </div><!-- end pages -->
            
            <!-- Pages -->
            <div class="oneFourth">
                <h4>Home</h4>
                <div class="clear20"></div>
                <ul class="bullet4">
                    <li><a href="index.html">Nivo slider</a></li>
                    <li><a href="index2.html">Slide down slider</a></li>
                    <li><a href="index3.html">Elastic Image Slideshow</a></li>
                    <li><a href="index4.html">Slider with center text</a></li>
                    <li><a href="index5.html">Slider with right video</a></li>
                    <li><a href="index6.html">Slider with left video</a></li>
                    </li>
                </ul>
            </div>
        	<!-- end pages -->
            
            <!-- Pages -->
            <div class="oneFourth last">
                <h4>Portofolio</h4>
                <div class="clear20"></div>
                <ul class="bullet4">
                    <li><a href="portofolio-1-columns.html">Portofolio one Column</a></li>
                    <li><a href="portofolio-2-columns.html">Portofolio two Column</a></li>
                    <li><a href="portofolio-3-columns.html">Portofolio three Column</a></li>
                </ul>
            </div><!-- end pages -->
        </div><!-- end main wrap-->
    </div><!-- end main-->
    
    <div class="clear20"></div>
         
	<!-- start testimonial -->
	<div class="testimonial-wrap">
		<div class="testimonial">
        	<ul>
            	<li>
                	<p>&quot;Beautiful layout, <span>good documentation</span>, easy to operate with enormous opportunities for your own profile! 
                    Great – looking forward to your next work!.&quot;</p>
                </li>
                <li>
                	<p>&quot;Very impressive theme, really ! By the simplicity of the customization and the choice 
                    of the graphicals elements to do it. .&quot;- Yasamin Jasem (Mobilabs.com) -</p>
                </li>
                <li>
                    <p>&quot;Wow... This theme is fantastic. <span>Purchasing now</span>. I've been looking 
		    for a theme like this for my business. It has everything I need&quot; - John Doe (Business Owner) -</p>
                </li>
            </ul>
		</div>
	</div><!-- end testimonial -->
    
    <!-- start footer -->
    <div id="footer">
    	<div class="footer-wrap">
        
        	<div class="oneFourth"><img src="images/logo.png" alt=""></div>
            <div class="oneHalf"><p>magnamus aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper 
            suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse 
            molestie consequat.</p></div>
            <div class="oneFourth last"><a href="#" class="button medium orange">buy this template</a></div>
            
            <div class="dash-line gray"></div>
        	
            <!-- Pages -->
        	<div class="oneFifth">
                <div class="title"><h4>Features</h4></div>
                <div class="clear"></div>
                <ul class="bullet4">
                    <li><p><a href="#">Design</a></p></li>
                    <li><p><a href="#">Support</a></p></li>
                    <li><p><a href="#">Videos</a></p></li>
                    <li><p><a href="#">Custom</a></p></li>
                    <li><p><a href="#">Jquery</a></p></li>
                    <li><p><a href="#">Css3</a></p></li>
                    <li><p><a href="#">HTML5</a></p></li>
                </ul>
            </div><!-- end pages -->
            
             <!-- Pages -->
        	<div class="oneFifth">
                <div class="title"><h4>Pages</h4></div>
                <div class="clear"></div>
                <ul class="bullet4">
                    <li><p><a href="#">Slider</a></p></li>
                    <li><p><a href="#">Blog</a></p></li>
                    <li><p><a href="#">About Us</a></p></li>
                    <li><p><a href="#">Contact Us</a></p></li>
                    <li><p><a href="#">Typography</a></p></li>
                    <li><p><a href="#">Services</a></p></li>
                    <li><p><a href="#">Portofolio</a></p></li>
                </ul>
            </div><!-- end pages -->
            
            <!-- Pages -->
        	<div class="oneFifth">
                <div class="title"><h4>Company</h4></div>
                <div class="clear"></div>
                <ul class="bullet4">
                    <li><p><a href="#">Gallery</a></p></li>
                    <li><p><a href="#">Support</a></p></li>
                    <li><p><a href="#">Forum</a></p></li>
                    <li><p><a href="#">FAQ</a></p></li>
                    <li><p><a href="#">Term</a></p></li>
                    <li><p><a href="#">Privacy</a></p></li>
                </ul>
            </div><!-- end pages -->
            
           	<!-- about us -->
        	<div class="twoFifths last">
                <div class="title"><h4>About Us</h4></div>
                <div class="clear"></div>
                    <p><img src="images/building.png" alt="" class="fl">Sed fringilla dui id ante volutpat ut pellentesque lacus semper. 
                    Duis laoreet congue consectetur. Aliquam volutpat scelerisque dui ac fringilla. Praesent et volutpat urna. Sed ipsum dolor.
                    Praesent et volutpat urna.</p><br>
                    
                    <h4>Contact Sales</h4>
                    <p>888-217-233 &ensp; sales@yourdomain.com</p>
            </div><!-- end about us -->
        </div>
        
		<div class="clear"></div>
        
        <!-- start post footer -->
        <div class="post-footer">
            <div class="post-footer-wrap">
                <p class="fl">Copyright 2011 by Harrywebss. All Right Reserved</p> 
                <div class="fr phone">
                    <ul class="socialNav">
                        <li><a href="#" title="Facebook"><img src="images/facebook_icon.png" alt="Delicious"></a></li>
                        <li><a href="#" title="Twitter"><img src="images/twitter_icon.png" alt="Twitter"></a></li>
                        <li><a href="#" title="Dribble"><img src="images/dribble_icon.png" alt="Drible"></a></li>
                        <li><a href="#" title="StumbleUpon"><img src="images/su_icon.png" alt="StumbleUpon"></a></li>
                        <li><a href="#" title="RSS"><img src="images/rss_icon.png" alt="Rss"></a></li>
                    </ul>
                    <p class="fr" style="font-style:italic;">Let's be social</p>
                </div>
            </div>
        </div><!-- end post footer -->
    </div><!-- end footer -->
    
</div>
</body>
</html>
