<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" content="bromo" />
<meta name="description" content="a short description of your company" />
<meta name="keywords" content="some keywords that best describe your business" />

<title>Bromo - Typography</title>

<!-- Mobile Device Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

<!-- Style -->
<link href="./css/style.css" rel="stylesheet" type="text/css">
<link href="./font/stylesheet.css" rel="stylesheet" type="text/css">

<!-- Javascript -->
<script type="text/javascript" src="./js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="./js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="./js/jquery.cycle.all.min.js"></script>
<script type="text/javascript" src="./js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="./js/jquery.tipsy.js"></script>
<script type="text/javascript" src="./js/custom.js"></script>
<script type="text/javascript" src="./js/animatedcollapse.js"></script>
<script type="text/javascript" src="./js/input.js"></script>
<script type="text/javascript" src="./js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="./js/nivoslider.js"></script>
<script type="text/javascript" src="./js/slide.js"></script>
<script type="text/javascript" src="./js/slides.min.jquery.js"></script>
<script type="text/javascript" src="./js/jquery.jtweetsanywhere-1.3.1.min.js"></script>
<script type="text/javascript" src="./js/jquery.preloader.js"></script>
<script type="text/javascript" src="./js/jquery.eislideshow.js"></script>
<script type="text/javascript" src="./js/swfobject.js"></script>
<script type="text/javascript" src="./js/jquery.sourcerer.js"></script>
<script type="text/javascript" src="./js/jquery.ui.totop.js"></script>


</head>

<body>

<div class="wrap container">
	<div id="header">
    	<div class="glow">
         	<div class="menu-wrap">
        		<!-- start menu wrap -->
                <div class="main-menu-wrap">
                    
                    <!-- start logo -->
                    <div class="logo">
                        <img src="images/logo.png" alt="">
                    </div><!-- end logo -->
                    
                    <!-- start main menu -->
                    <div class="main-menu">
                        <ul>
                            <li><a href="#">HOME <span>it is home</span></a>
                                <ul>
                                    <li><a href="index.html">Nivo slider</a></li>
                                    <li><a href="index2.html">Slide down slider</a></li>
                                    <li><a href="index3.html">Elastic Image Slideshow</a></li>
                                    <li class="drop"><a href="">Static Slider</a>
                                    	<ul>
                                            <li><a href="index4.html">Slider with center text</a></li>
                                            <li><a href="index5.html">Slider with right video</a></li>
                                            <li><a href="index6.html">Slider with left video</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="active"><a href="#">PAGES <span>about pages</span></a>
                                <ul>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="typography.html">Typography</a></li>
                                    <li><a href="shadow-style.html">Shadow and Hover Style</a></li>
                                    <li><a href="pricing-tables.html">Pricing Table</a></li>
                                    <li><a href="table_and_columns.html">Table and Columns</a></li>
                                    <li><a href="sitemap.html">Sitemap</a></li>
                                    <li><a href="faq.html">FAQ's</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li><a href="#" >BLOG <span>blog post</span></a>
                                <ul>
                                   <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                   <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                   <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="about-us.html">ABOUT US <span>who we are</span></a></li>
                            <li><a href="#" >PORTOFOLIO <span>it is portofolio</span></a>
                                <ul>
                                    <li><a href="portofolio-1-columns.html">Portofolio one Column</a></li>
                                    <li><a href="portofolio-2-columns.html">Portofolio two Column</a></li>
                                    <li><a href="portofolio-3-columns.html">Portofolio three Column</a></li>
                                </ul>
                            </li>
                            <li><a href="contact-us.html">CONTACT <span>contact us</span></a></li>                    
                        </ul>
                    </div><!-- end main menu -->
                </div><!-- end main menu wrap -->
        	</div><!-- end menu wrap -->
        
            <div class="header-wrap">
                <!-- start category -->
                <div class="cat">
                    <h3>Typography</h3> 
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li>/</li>
                            <li><a href="#">Pages</a></li>
                            <li>/</li>
                            <li>Typography</li>
                        </ul>
                </div><!-- end category -->
                
                <div class="call">
                	<h3 class="white">
                    	Call <strong>Bromo</strong> | 0800-1090-888
                    </h3>
                </div>
            </div>
        </div>
    </div><!-- end header section -->
    
    <!-- start main -->
    <div id="main">
    	<!-- start main wrap -->
        <div class="main-wrap">
        
        	<!-- start main typography--> 
            <div class="separator">
                <h5>Heading</h5>
                <div class="sep_line"></div><!-- separator line -->
            </div>
            
            <div class="clear"></div>
            
            <!-- H1 Tag-->
            <div class="fullWidth">
                <h1>This is H1 tag sample</h1>
                <p>Proin feugiat, est non feugiat congue, erat enim suscipit ante, non eleifend ligula metus vel magna. Nulla nec erat neque, 
                id placerat eros. Vestibulum vel nisi in felis dictum vulputate. Cras lobortis urna et lectus hendrerit porttitor. Mauris ullamcorper 
                imperdiet egestas. Suspendisse neque sem, laoreet eget hendrerit vitae, malesuada sit amet nunc. </p>
            </div><!--end H1 Tag-->
            
            <div class="clear20"></div>
            
            <!-- H2 Tag-->
            <div class="fullWidth">
                <h2>This is H1 tag sample</h2>
                <p>Proin feugiat, est non feugiat congue, erat enim suscipit ante, non eleifend ligula metus vel magna. Nulla nec erat neque, 
                id placerat eros. Vestibulum vel nisi in felis dictum vulputate. Cras lobortis urna et lectus hendrerit porttitor. Mauris ullamcorper 
                imperdiet egestas. Suspendisse neque sem, laoreet eget hendrerit vitae, malesuada sit amet nunc. </p>
            </div><!--end H2 Tag-->
            
            <div class="clear20"></div>
            
            <!-- H3 Tag-->
            <div class="fullWidth">
                <h3>This is H1 tag sample</h3>
                <p>Proin feugiat, est non feugiat congue, erat enim suscipit ante, non eleifend ligula metus vel magna. Nulla nec erat neque, 
                id placerat eros. Vestibulum vel nisi in felis dictum vulputate. Cras lobortis urna et lectus hendrerit porttitor. Mauris ullamcorper 
                imperdiet egestas. Suspendisse neque sem, laoreet eget hendrerit vitae, malesuada sit amet nunc. </p>
            </div><!--end H3 Tag-->
            
            <div class="clear20"></div>
            
            <!-- H4 Tag-->
            <div class="fullWidth">
                <h4>This is H1 tag sample</h4>
                <p>Proin feugiat, est non feugiat congue, erat enim suscipit ante, non eleifend ligula metus vel magna. Nulla nec erat neque, 
                id placerat eros. Vestibulum vel nisi in felis dictum vulputate. Cras lobortis urna et lectus hendrerit porttitor. Mauris ullamcorper 
                imperdiet egestas. Suspendisse neque sem, laoreet eget hendrerit vitae, malesuada sit amet nunc. </p>
            </div><!--end H4 Tag-->
            
            <div class="clear20"></div>
            
            <!-- H5 Tag-->
            <div class="fullWidth">
                <h5>This is H1 tag sample</h5>
                <p>Proin feugiat, est non feugiat congue, erat enim suscipit ante, non eleifend ligula metus vel magna. Nulla nec erat neque, 
                id placerat eros. Vestibulum vel nisi in felis dictum vulputate. Cras lobortis urna et lectus hendrerit porttitor. Mauris ullamcorper 
                imperdiet egestas. Suspendisse neque sem, laoreet eget hendrerit vitae, malesuada sit amet nunc. </p>
            </div><!--end H5 Tag-->
            
            <div class="clear20"></div>
            
            <div class="separator">
                <h5>Image with text</h5>
                <div class="sep_line"></div><!-- separator line -->
            </div>
            
            <div class="clear"></div>
            
            <!-- Text with left image -->
            <div class="fullWidth">
                <h2>Text with left image</h2>
                <p><img src="images/small-firefox.png" alt="" class="fl">Proin feugiat, est non feugiat congue, erat enim suscipit ante, non eleifend 
                ligula metus vel magna. Nulla nec erat neque, id placerat eros. Vestibulum vel nisi in felis dictum vulputate. 
                Cras lobortis urna et lectus hendrerit porttitor. Mauris ullamcorper imperdiet egestas. Suspendisse neque sem, laoreet eget hendrerit vitae, 
                malesuada sit amet nunc. Phasellus bibendum nulla ut lectus volutpat tristique. Duis a nunc lectus. Integer ut massa sapien, 
                vel ultricies ante. Maecenas malesuada auctor odio, non faucibus sapien varius vitae. Aenean molestie neque ac nisl aliquet scelerisque.
                Mauris ullamcorper imperdiet egestas. Suspendisse neque sem, laoreet eget hendrerit vitae, malesuada sit amet nunc. Phasellus bibendum 
                nulla ut lectus volutpat tristique. Duis a nunc lectus. Integer ut massa sapien, vel ultricies ante. Maecenas malesuada auctor odio, non 
                faucibus sapien varius vitae. Aenean molestie neque ac nisl aliquet scelerisque.
                </p>
            </div><!--end Text with left image-->
            
            <div class="clear20"></div>
            
            <!-- Text with right image -->
            <div class="fullWidth">
                <h2>Text with right image</h2>
                <p><img src="images/small-firefox.png" alt="" class="fr">Proin feugiat, est non feugiat congue, erat enim suscipit ante, non eleifend 
                ligula metus vel magna. Nulla nec erat neque, id placerat eros. Vestibulum vel nisi in felis dictum vulputate. 
                Cras lobortis urna et lectus hendrerit porttitor. Mauris ullamcorper imperdiet egestas. Suspendisse neque sem, laoreet eget hendrerit vitae, 
                malesuada sit amet nunc. Phasellus bibendum nulla ut lectus volutpat tristique. Duis a nunc lectus. Integer ut massa sapien, 
                vel ultricies ante. Maecenas malesuada auctor odio, non faucibus sapien varius vitae. Aenean molestie neque ac nisl aliquet scelerisque.
                Mauris ullamcorper imperdiet egestas. Suspendisse neque sem, laoreet eget hendrerit vitae, malesuada sit amet nunc. Phasellus bibendum nulla 
                ut lectus volutpat tristique. Duis a nunc lectus. Integer ut massa sapien, vel ultricies ante. Maecenas malesuada auctor odio, non faucibus 
                sapien varius vitae. Aenean molestie neque ac nisl aliquet scelerisque.
                </p>
            </div><!--end Text with right image-->
            
            <div class="clear20"></div>
            
            <div class="separator">
                <h5>Bullet Style</h5>
                <div class="sep_line"></div><!-- separator line -->
            </div>
            
            <div class="clear"></div>
            
            <div class="oneFourth">
                <ul class="bullet">
                    <li>Proin non lorem id nibh.</li>
                    <li>In eget ligula mauris.</li>
                    <li>Fusce porttitor nunc in odio</li>
                    <li>Nunc sollicitudin massa</li>
                    <li>Aliquam in magna nec metus</li>
                </ul>
            </div>
            <div class="oneFourth">
                <ul class="bullet2">
                    <li>Proin non lorem id nibh.</li>
                    <li>In eget ligula mauris.</li>
                    <li>Fusce porttitor nunc in odio</li>
                    <li>Nunc sollicitudin massa</li>
                    <li>Aliquam in magna nec metus</li>
                </ul>
            </div>
            <div class="oneFourth">
                <ul class="bullet5">
                    <li>Proin non lorem id nibh.</li>
                    <li>In eget ligula mauris.</li>
                    <li>Fusce porttitor nunc in odio</li>
                    <li>Nunc sollicitudin massa</li>
                    <li>Aliquam in magna nec metus</li>
                </ul>
            </div>
            <div class="oneFourth last">
                <ul class="bullet4">
                    <li>Proin non lorem id nibh.</li>
                    <li>In eget ligula mauris.</li>
                    <li>Fusce porttitor nunc in odio</li>
                    <li>Nunc sollicitudin massa</li>
                    <li>Aliquam in magna nec metus</li>
                </ul>
            </div>
            
            <div class="clear40"></div>
            
            <div class="separator">
                <h5>Pull quotes</h5>
                <div class="sep_line"></div><!-- separator line -->
            </div>
            
            <div class="clear"></div>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elit enim, consequat et rhoncus quis, tempus ac elit. 
            Donec vel sem nibh, eu aliquet leo. Praesent dapibus, massa euismod tempus scelerisque, ipsum tellus faucibus arcu, quis
            convallis diam justo vel lorem. Praesentet metus in ante placerat sodales. Vestibulum nec convallis metus. </p><br>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elit enim, consequat et rhoncus quis, tempus ac elit.
            John Doe, Personalize, inc Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            <span class="quote left-align">
            	"Praesentet metus in ante placerat sodels ampriom."<br><span>john doe, <strong>example.com</strong></span>
            </span> 
            Quisque elit enim, consequat et rhoncus quis, 
            tempus ac elit. Donec vel sem nibh, eu aliquet leo. Praesent dapibus, massa euismod tempus scelerisque, ipsum tellus.
            Faucibus arcu, quis convallis diam justo vel lorem. Suspendisse potenti. Aliquam vel faucibus lectus. Pellentesque 
            consectetur placerat sem non tincidunt. Maecenas bibendum fermentum imperdiet. Suspendisse turpis massa, aliquet ut semper sed.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            <span class="quote right-align">
            	"Praesentet metus in ante placerat sodels ampriom."<br><span>john doe, <strong>example.com</strong></span>
            </span> 
            Quisque elit enim, consequat et rhoncus quis, tempus ac elit. 
            Faucibus arcu, quis convallis diam justo vel lorem. Praesentet metus in ante placerat sodales. Vestibulum nec convallis metus. 
            Suspendisse potenti. Aliquam vel faucibus lectus. Pellentesque consectetur placerat sem non tincidunt. Maecenas bibendum fermentum 
            imperdiet. Suspendisse turpis massa, aliquet ut semper sed.
            John Doe, Personalize, inc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elit enim, consequat et rhoncus quis, 
            tempus ac elit. Donec vel sem nibh, eu aliquet leo. Praesent dapibus, massa euismod tempus scelerisque, ipsum tellus.
            Faucibus arcu, quis convallis diam justo vel lorem. Praesentet metus in ante placerat sodales. Vestibulum nec convallis metus. 
            Suspendisse potenti. Aliquam vel faucibus lectus. Pellentesque consectetur placerat sem non tincidunt. Maecenas bibendum fermentum 
            imperdiet. Suspendisse turpis massa, aliquet ut semper sed.
            Faucibus arcu, quis convallis diam justo vel lorem. Praesentet metus in ante placerat sodales. Vestibulum nec convallis metus. 
            Suspendisse potenti. Aliquam vel faucibus lectus. Pellentesque consectetur placerat sem non tincidunt. Maecenas bibendum fermentum 
            imperdiet. Suspendisse turpis massa, aliquet ut semper sed.
            <span class="quote center-align">"John Doe, Personalize, inc Lorem ipsum 
            dolor sit amet, consectetur adipiscing elit. Maecenas bibendum fermentum imperdiet. Suspendisse turpis massa, aliquet ut semper
            "<br><span>john doe, <strong>example.com</strong></span>
            </span>
            John Doe, Personalize, inc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elit enim, consequat et rhoncus quis, 
            tempus ac elit. Donec vel sem nibh, eu aliquet leo. Praesent dapibus, massa euismod tempus scelerisque, ipsum tellus.
            Faucibus arcu, quis convallis diam justo vel lorem. Praesentet metus in ante placerat sodales. Vestibulum nec convallis metus. 
            Suspendisse potenti. Aliquam vel faucibus lectus. Pellentesque consectetur placerat sem non tincidunt. Maecenas bibendum fermentum 
            imperdiet. Suspendisse turpis massa, aliquet ut semper sed.</p>
            
            <blockquote>Cras vel felis ac erat adipiscing pellentesque ac venenatis risus. Etiam commodo convallis ultrices. Aliquam enim mi, 
            ultrices nec consequat et, fringilla a nibh. Duis eu laoreet turpis. Quisque malesuada mollis ligula aliquet semper. Aenean a nibh 
            quis mauris dignissim aliquam eu vel lacus</blockquote>
            
            <div class="clear20"></div>
            
            <div class="separator">
                <h5>Button Style</h5>
                <div class="sep_line"></div><!-- separator line -->
            </div>
            
            <div class="clear"></div>
            
            <div class="fullWidth">
                <h3>Basic Button: </h3><br>
                <a href="#" class="button">Small Button</a>
                <a href="#" class="button medium">Medium Button</a> 
                <a href="#" class="button large">Large Button</a> 
                <div class="clear20"></div>
                
                <h3>Gray Button:</h3><br>
                <a href="#" class="button gray">Small Button</a>
                <a href="#" class="button medium gray">Medium Button</a> 
                <a href="#" class="button large gray">Large Button</a> 
                <div class="clear20"></div>
                
                <h3>Blue Button:</h3><br>
                <a href="#" class="button blue">Small Button</a>
                <a href="#" class="button medium blue">Medium Button</a> 
                <a href="#" class="button large blue">Large Button</a> 
                <div class="clear20"></div>
                
                <h3>Orange Button:</h3><br>
                <a href="#" class="button orange">Small Button</a>
                <a href="#" class="button medium orange">Medium Button</a> 
                <a href="#" class="button large orange">Large Button</a> 
                <div class="clear20"></div>
                
                <h3>Red Button:</h3><br>
                <a href="#" class="button red">Small Button</a>
                <a href="#" class="button medium red">Medium Button</a> 
                <a href="#" class="button large red">Large Button</a>
            </div>
            <div class="clear20"></div>
            
             <div class="separator">
                <h5>Dropcaps</h5>
                <div class="sep_line"></div><!-- separator line -->
            </div>
            
            <div class="clear"></div>
            
            <!-- Dropcaps1 -->
            <div class="fullWidth">
                <p><span class="dropcap1">H</span>Proin feugiat, est non feugiat congue, erat enim suscipit ante, non eleifend ligula metus vel magna. Nulla nec erat neque, 
                id placerat eros. Vestibulum vel nisi in felis dictum vulputate. Cras lobortis urna et lectus hendrerit porttitor. Mauris ullamcorper 
                imperdiet egestas. Suspendisse neque sem, laoreet eget hendrerit vitae, malesuada sit amet nunc. Phasellus bibendum nulla ut lectus
                volutpat tristique. Duis a nunc lectus. Integer ut massa sapien, vel ultricies ante. Maecenas malesuada auctor odio, non faucibus 
                sapien varius vitae. Aenean molestie neque ac nisl aliquet scelerisque.</p>
            </div><!-- end Dropcaps1 -->
            
            <div class="clear20"></div>
            
            <!-- Dropcaps2 -->
            <div class="fullWidth">
                <p><span class="dropcap2">H</span>Proin feugiat, est non feugiat congue, erat enim suscipit ante, non eleifend ligula metus vel magna. Nulla nec erat neque, 
                id placerat eros. Vestibulum vel nisi in felis dictum vulputate. Cras lobortis urna et lectus hendrerit porttitor. Mauris ullamcorper 
                imperdiet egestas. Suspendisse neque sem, laoreet eget hendrerit vitae, malesuada sit amet nunc. Phasellus bibendum nulla ut lectus
                volutpat tristique. Duis a nunc lectus. Integer ut massa sapien, vel ultricies ante. Maecenas malesuada auctor odio, non faucibus 
                sapien varius vitae. Aenean molestie neque ac nisl aliquet scelerisque.</p>
            </div><!--end Dropcaps2-->
            
            <div class="clear20"></div>
            
            <div class="separator">
                <h5>Pre code tag</h5>
                <div class="sep_line"></div><!-- separator line -->
            </div>
            
            <div class="clear"></div>
            
<div class="fullWidth">            
    <pre class="showCode">
    $('#myList').listnav({ 
        initLetter: 'a', 
        includeAll: true, 
        includeOther: true, 
        flagDisabled: true, 
        noMatchText: 'Nothing matched your filter, 
        please click another letter.', 
        prefixes: ['the','a']
    });</pre>
</div>
            
            <div class="clear20"></div>
            
            <div class="separator">
                <h5>Info Box</h5>
                <div class="sep_line"></div><!-- separator line -->
            </div>
            
            <div class="clear"></div>
            
            <div class="Note Warning hideit">
                <p><strong>WARNING: </strong>This is a warning message. You can use this to warn users on any events</p>
            </div>
            <div class="Note Information hideit">
                <p><strong>INFORMATION: </strong>This is a message for information, can be any general information.</p>
            </div>   
            <div class="Note Success hideit">
                <p><strong>SUCCESS: </strong>Success message! hoooraaay!!!!</p>
            </div>  
            <div class="Note Failure hideit">
                <p><strong>FAILURE: </strong>Oops sorry. That action is not valid, or our servers have gone bonkers</p>
            </div>
        
        	<div class="clear20"></div>
            
            <div class="separator">
                <h5>Toggle Panels</h5>
                <div class="sep_line"></div><!-- separator line -->
            </div>
            
            <div class="clear20"></div>
            
            <div class="toggles">
                <ul>
                    <li>
                        <a href="#" data-rel="toggle[first]" data-openimage="./images/minus.png" data-closedimage="./images/plus.png">
                        <img src="./images/plus.png" alt=""><h5>Duis autem vel eum iriure</h5></a>
                        <div id="first">
                        <p>Lorem ipsum dolor sit amet, consectetueruer adipiscing elit, sed diam nonummy 
                        nibhhhitest euismod tincidunt ut laoreet dolore magnamus aliquam erat volutpat. 
                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis 
                        nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit 
                        in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis
                        at vero</p>
                        </div>
                    </li>
                    <li>
                        <a href="#" data-rel="toggle[second]" data-openimage="./images/minus.png" data-closedimage="./images/plus.png">
                        <img src="./images/plus.png" alt=""><h4>Vel illum dolore eu feugiat</h4></a> 
                        <div id="second">
                        <p>Lorem ipsum dolor sit amet, consectetueruer adipiscing elit, sed diam nonummy
                         nibhhhitest euismod tincidunt ut laoreet dolore magnamus aliquam erat volutpat. 
                         Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
                         lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor 
                         in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat 
                         nulla facilisis at vero</p>
                        </div>
                    </li>
                    <li>
                        <a href="#" data-rel="toggle[third]" data-openimage="./images/minus.png" data-closedimage="./images/plus.png">
                        <img src="./images/plus.png" alt=""><h4>Euismod tincidunt ut laoreet</h4></a>
                        <div id="third">
                        <p>
                        Rabbits are ground dwellers that live in environments ranging from desert 
                        to tropical forest and wetland. Their natural geographic range encompasses the 
                        middle latitudes of the Western Hemisphere. In the Eastern 
                        Hemisphere rabbits are found in Europe, 
                        portions of Central and Southern Africa, the Indian subcontinent, Sumatra, and Japan.</p>
                        </div>
                    </li>
                </ul>
            </div>
                           
            <div class="clear20"></div><!-- end main typograpghy -->
        </div><!-- end main wrap-->
    </div><!-- end main-->
         
	<!-- start testimonial -->
	<div class="testimonial-wrap">
		<div class="testimonial">
        	<ul>
            	<li>
                	<p>&quot;Beautiful layout, <span>good documentation</span>, easy to operate with enormous opportunities for your own profile! 
                    Great – looking forward to your next work!.&quot;</p>
                </li>
                <li>
                	<p>&quot;Very impressive theme, really ! By the simplicity of the customization and the choice 
                    of the graphicals elements to do it. .&quot;- Yasamin Jasem (Mobilabs.com) -</p>
                </li>
                <li>
                    <p>&quot;Wow... This theme is fantastic. <span>Purchasing now</span>. I've been looking 
		    for a theme like this for my business. It has everything I need&quot; - John Doe (Business Owner) -</p>
                </li>
            </ul>
		</div>
	</div><!-- end testimonial -->
    
    <!-- start footer -->
    <div id="footer">
    	<div class="footer-wrap">
        
        	<div class="oneFourth"><img src="images/logo.png" alt=""></div>
            <div class="oneHalf"><p>magnamus aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper 
            suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse 
            molestie consequat.</p></div>
            <div class="oneFourth last"><a href="#" class="button medium orange">buy this template</a></div>
            
            <div class="dash-line gray"></div>
        	
            <!-- Pages -->
        	<div class="oneFifth">
                <div class="title"><h4>Features</h4></div>
                <div class="clear"></div>
                <ul class="bullet4">
                    <li><p><a href="#">Design</a></p></li>
                    <li><p><a href="#">Support</a></p></li>
                    <li><p><a href="#">Videos</a></p></li>
                    <li><p><a href="#">Custom</a></p></li>
                    <li><p><a href="#">Jquery</a></p></li>
                    <li><p><a href="#">Css3</a></p></li>
                    <li><p><a href="#">HTML5</a></p></li>
                </ul>
            </div><!-- end pages -->
            
             <!-- Pages -->
        	<div class="oneFifth">
                <div class="title"><h4>Pages</h4></div>
                <div class="clear"></div>
                <ul class="bullet4">
                    <li><p><a href="#">Slider</a></p></li>
                    <li><p><a href="#">Blog</a></p></li>
                    <li><p><a href="#">About Us</a></p></li>
                    <li><p><a href="#">Contact Us</a></p></li>
                    <li><p><a href="#">Typography</a></p></li>
                    <li><p><a href="#">Services</a></p></li>
                    <li><p><a href="#">Portofolio</a></p></li>
                </ul>
            </div><!-- end pages -->
            
            <!-- Pages -->
        	<div class="oneFifth">
                <div class="title"><h4>Company</h4></div>
                <div class="clear"></div>
                <ul class="bullet4">
                    <li><p><a href="#">Gallery</a></p></li>
                    <li><p><a href="#">Support</a></p></li>
                    <li><p><a href="#">Forum</a></p></li>
                    <li><p><a href="#">FAQ</a></p></li>
                    <li><p><a href="#">Term</a></p></li>
                    <li><p><a href="#">Privacy</a></p></li>
                </ul>
            </div><!-- end pages -->
            
           	<!-- about us -->
        	<div class="twoFifths last">
                <div class="title"><h4>About Us</h4></div>
                <div class="clear"></div>
                    <p><img src="images/building.png" alt="" class="fl">Sed fringilla dui id ante volutpat ut pellentesque lacus semper. 
                    Duis laoreet congue consectetur. Aliquam volutpat scelerisque dui ac fringilla. Praesent et volutpat urna. Sed ipsum dolor.
                    Praesent et volutpat urna.</p><br>
                    
                    <h4>Contact Sales</h4>
                    <p>888-217-233 &ensp; sales@yourdomain.com</p>
            </div><!-- end about us -->
        </div>
        
		<div class="clear"></div>
        
        <!-- start post footer -->
        <div class="post-footer">
            <div class="post-footer-wrap">
                <p class="fl">Copyright 2011 by Harrywebss. All Right Reserved</p> 
                <div class="fr phone">
                    <ul class="socialNav">
                        <li><a href="#" title="Facebook"><img src="images/facebook_icon.png" alt="Delicious"></a></li>
                        <li><a href="#" title="Twitter"><img src="images/twitter_icon.png" alt="Twitter"></a></li>
                        <li><a href="#" title="Dribble"><img src="images/dribble_icon.png" alt="Drible"></a></li>
                        <li><a href="#" title="StumbleUpon"><img src="images/su_icon.png" alt="StumbleUpon"></a></li>
                        <li><a href="#" title="RSS"><img src="images/rss_icon.png" alt="Rss"></a></li>
                    </ul>
                    <p class="fr" style="font-style:italic;">Let's be social</p>
                </div>
            </div>
        </div><!-- end post footer -->
    </div><!-- end footer -->
    
</div>
</body>
</html>
