.wrap.container
  #headerSlider
    .glow
      .menu-wrap
        / start menu wrap
        .main-menu-wrap
          / start logo
          .logo
            %img{alt: "", src: "images/logo.png"}/
          / end logo
          / start main menu
          .main-menu
            %ul
              %li.active
                %a{href: "#"}
                  HOME
                  %span it is home
                %ul
                  %li
                    %a{href: "index.html"} Nivo slider
                  %li
                    %a{href: "index2.html"} Slide down slider
                  %li
                    %a{href: "index3.html"} Elastic Image Slideshow
                  %li.drop
                    %a{href: ""} Static Slider
                    %ul
                      %li
                        %a{href: "index4.html"} Slider with center text
                      %li
                        %a{href: "index5.html"} Slider with right video
                      %li
                        %a{href: "index6.html"} Slider with left video
              %li
                %a{href: "#"}
                  PAGES
                  %span about pages
                %ul
                  %li
                    %a{href: "services.html"} Services
                    %h2.title Web Studio
                    %img{alt: "Web Studio", src: "images/facebook_icon.jpg"}/
                    %p We build scalable web applications and turn key SaaS solutions that delight the audiences that use them.
                  %li
                    %a{href: "typography.html"} Typography
                    %img{alt: "Delicious", src: "images/facebook_icon.png"}/
                  %li
                    %a{href: "shadow-style.html"} Shadow and Hover Style
                  %li
                    %a{href: "pricing-tables.html"} Pricing Table
                  %li
                    %a{href: "table_and_columns.html"} Table and Columns
                  %li
                    %a{href: "sitemap.html"} Sitemap
                  %li
                    %a{href: "faq.html"} FAQ's
                  %li
                    %a{href: "404.html"} 404 Page
              %li
                %a{href: "#"}
                  BLOG
                  %span blog post
                %ul
                  %li
                    %a{href: "blog-left-sidebar.html"} Blog Left Sidebar
                  %li
                    %a{href: "blog-right-sidebar.html"} Blog Right Sidebar
                  %li
                    %a{href: "blog-details.html"} Blog Details
              %li
                %a{href: "about-us.html"}
                  ABOUT US
                  %span who we are
              %li
                %a{href: "#"}
                  PORTOFOLIO
                  %span it is portofolio
                %ul
                  %li
                    %a{href: "portofolio-1-columns.html"} Portofolio one Column
                  %li
                    %a{href: "portofolio-2-columns.html"} Portofolio two Column
                  %li
                    %a{href: "portofolio-3-columns.html"} Portofolio three Column
              %li
                %a{href: "contact-us.html"}
                  CONTACT
                  %span contact us
          / end main menu
        / end main menu wrap
      / end menu wrap
  / end header section
  .clear
