%header{role: "banner"}
  #menuMega.menu3dmega.navbar.navbar-fixed-top.bs-docs-nav
    %ul.container
      %li.menu-non-dropdown
        %a{href: "#"}
          %i.icon-white.icon-home
          Home
      %li.full-width
        %a{href: "#"}
          Grid
        .dropdown-menu.grid-demo
          .content
            .row
              .col-lg-12
                \.col-lg-12
            .row
              .col-lg-6
                col-lg-6
              .col-lg-6
                col-lg-6
            .row
              .col-lg-4
                col-lg-4
              .col-lg-4
                col-lg-4
              .col-lg-4
                col-lg-4
            .row
              .col-lg-3
                col-lg-3
              .col-lg-3
                col-lg-3
              .col-lg-3
                col-lg-3
              .col-lg-3
                col-lg-3
            .row
              .col-lg-2
                \.col-lg-2
              .col-lg-2
                \.col-lg-2
              .col-lg-2
                \.col-lg-2
              .col-lg-2
                \.col-lg-2
              .col-lg-2
                \.col-lg-2
              .col-lg-2
                \.col-lg-2
            .row
              .col-lg-1
                \.col-lg-1
              .col-lg-1
                \.col-lg-1
              .col-lg-1
                \.col-lg-1
              .col-lg-1
                \.col-lg-1
              .col-lg-1
                \.col-lg-1
              .col-lg-1
                \.col-lg-1
              .col-lg-1
                \.col-lg-1
              .col-lg-1
                \.col-lg-1
              .col-lg-1
                \.col-lg-1
              .col-lg-1
                \.col-lg-1
              .col-lg-1
                \.col-lg-1
              .col-lg-1
                \.col-lg-1
      %li.full-width
        %a{href: "#"} Offset
        .dropdown-menu.grid-demo
          .content
            .row
              .col-lg-4 col 4
              .col-lg-4.col-lg-offset-4 4 offset 4
            .row
              .col-lg-3.col-lg-offset-3 3 offset 3
              .col-lg-3.col-lg-offset-3 3 offset 3
            .row
              .col-lg-6.col-lg-offset-3 6 offset
      %li.full-width
        %a{href: "#"} List
        .dropdown-menu.row{"animate-in" => "slideDown", "animate-out" => "bounceOut"}
          / Container 5 columns starts here
          .content
            .col-lg-2
              %a.menu-title{href: "#"} Fashion
              %ul
                %li
                  %a{href: "#"} Clothing
                %li
                  %a{href: "#"} Shoes
                %li
                  %a{href: "#"} Handbags
                %li
                  %a{href: "#"} Accessories
                %li
                  %a{href: "#"} Luggage
                %li
                  %a{href: "#"} Jewelry
            .col-lg-2
              %a.menu-title{href: "#"} Electronics
              %ul
                %li
                  %a{href: "#"} TV & Video
                %li
                  %a{href: "#"} Desktops & Monitors
                %li
                  %a{href: "#"} Laptops
                %li
                  %a{href: "#"} Ultrabooks & Tablets
                %li
                  %a{href: "#"} Video Games
                %li
                  %a{href: "#"} MP3 Players
            .col-lg-2
              %a.menu-title{href: "#"} Books
              %ul
                %li
                  %a{href: "#"} Books
                %li
                  %a{href: "#"} Children's Books
                %li
                  %a{href: "#"} Textbooks
                %li
                  %a{href: "#"} Audiobooks
                %li
                  %a{href: "#"} Magazines
                %li
                  %a{href: "#"} Stories
            .col-lg-2
              %a.menu-title{href: "#"} Sports
              %ul
                %li
                  %a{href: "#"} Cycling
                %li
                  %a{href: "#"} Team Sports
                %li
                  %a{href: "#"} Golf
                %li
                  %a{href: "#"} Exercise & Fitness
                %li
                  %a{href: "#"} Hunting & Fishing
                %li
                  %a{href: "#"} Outdoor Recreation
            .col-lg-2
              %a.menu-title{href: "#"} Fashion
              %ul
                %li
                  %a{href: "#"} Clothing
                %li
                  %a{href: "#"} Shoes
                %li
                  %a{href: "#"} Handbags
                %li
                  %a{href: "#"} Accessories
                %li
                  %a{href: "#"} Luggage
                %li
                  %a{href: "#"} Jewelry
            .col-lg-2
              %a.menu-title{href: "#"} Home & Garden
              %ul
                %li
                  %a{href: "#"} Crafts
                %li
                  %a{href: "#"} Home Improvement
                %li
                  %a{href: "#"} Furniturenus
                %li
                  %a{href: "#"} Bedding
                %li
                  %a{href: "#"} Tools
                %li
                  %a{href: "#"} Rugs & Carpets
            .clearfix
              .col-lg-4
                .menu-title Two sixth
                %p
                  Vestibulum massa nisi, faucibus sit amet rhoncus at, molestie vitae neque.Vestibulum massa nisi, faucibus sit amet rhoncus at, molestie vitae neque.Vestibulum massa nisi, faucibus sit amet rhoncus at, molestie vitae neque.Vestibulum massa nisi, faucibus sit amet rhoncus at, molestie vitae neque.
              .col-lg-8
                .menu-title Four sixth
                %p
                  Vestibulum massa nisi, faucibus sit amet rhoncus at, molestie vitae neque.Vestibulum massa nisi, faucibus sit amet rhoncus at, molestie vitae neque.Vestibulum massa nisi, faucibus sit amet rhoncus at, molestie vitae neque.Vestibulum massa nisi, faucibus sit amet rhoncus at, molestie vitae neque.
      %li
        %a{href: "#"} Media
        .dropdown-menu.span5
          .content
            %ul.media-list
              %li.media
                %a.pull-right{href: "#"}
                  %img{alt: "64x64", src: "img/thumb.png"}/
                .media-body
                  %h4.media-heading Media heading
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
              %li.media
                %a.pull-right{href: "#"}
                  %img{alt: "64x64", src: "img/thumb.png"}/
                .media-body
                  %h4.media-heading Media heading
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.
      %li.full-width
        %a{href: "#"} Table
        .dropdown-menu
          .content
            %table.table.table-hover
              %thead
                %tr
                  %th #
                  %th First Name
                  %th Last Name
                  %th Username
                  %th First Name
                  %th Last Name
                  %th Username
              %tbody
                %tr
                  %td 1
                  %td Mark
                  %td Otto
                  %td @mdo
                  %td Mark
                  %td Otto
                  %td @mdo
                %tr
                  %td 2
                  %td Jacob
                  %td Thornton
                  %td @fat
                  %td Jacob
                  %td Thornton
                  %td @fat
                %tr
                  %td 3
                  %td{colspan: "2"} Larry the Bird
                  %td @twitter
                  %td{colspan: "2"} Larry the Bird
                  %td @twitter
      %li
        %a{href: "#"} Thumbnails
        .dropdown-menu
          .content
            .col-lg-4
              %h3 Picture rounded
              %img.img-rounded{alt: "260x130", src: "img/thumb260-130.png"}/
            .col-lg-4.text-center
              %h3 Picture circle
              %img.img-circle{alt: "130x130", height: "130", src: "img/thumb260-130.png", width: "130"}/
            .col-lg-4
              %h3 Picture Thumbnail
              %img.img-thumbnail{alt: "260x130", src: "img/thumb260-130.png"}/
      %li
        %a{href: "#"} Contact
        .dropdown-menu
          .clearfix.content
            .col-lg-6
              .menu-title YOU CAN FIND US HERE
              %iframe{frameborder: "0", height: "363", marginheight: "0", marginwidth: "0", scrolling: "no", src: "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Timbuktu,+Tombouctou,+Mali&aq=0&oq=timbu&sll=14.562318,2.109375&sspn=22.948949,40.737305&t=h&ie=UTF8&hq=&hnear=Washing,+Park,&ll=40.75818,-74.040699&spn=0.032871,0.04652&z=13&iwloc=A&output=embed", width: "100%"}
            .col-lg-6
              .menu-title.margin-botton-10 CONTACT US
              %ul.contact-form
                %li
                  %span Name (required)
                  %input.form-control{name: "name", type: "text"}/
                %li
                  %span Eamil (required)
                  %input.form-control{name: "email", type: "text"}/
                %li
                  %span Subject
                  %input.form-control{name: "subject", type: "text"}/
                %li
                  %span Message
                  %textarea.form-control{name: "message"}
                %li
                  %input.btn.btn-success{type: "submit", value: "Send"}/
          .separate
          .clearfix.content
            .col-lg-6
              .social
                %a.no-background{href: "#"}
                  %img{alt: "Feed", src: "img/feed.png"}/
                %a.no-background{href: "#"}
                  %img{alt: "Facebook", src: "img/facebook.png"}/
                %a.no-background{href: "#"}
                  %img{alt: "Twitter", src: "img/twitter.png"}/
                %a.no-background{href: "#"}
                  %img{alt: "Linkedin", src: "img/linkedin.png"}/
                %a.no-background{href: "#"}
                  %img{alt: "Flickr", src: "img/flickr.png"}/
                %a.no-background{href: "#"}
                  %img{alt: "Vimeo", src: "img/vimeo.png"}/
      %li
        %span.arrow-icon-bottom
          %span Flyout Menu
        .dropdown-menu.flyout-menu
          %ul
            %li
              %a{href: "#", title: "Home"} HTML5
            %li
              %a{href: "javascript:;", title: "About Us"} CSS3
              %ul.dropdown-menu.sub
                %li
                  %a{href: "#", title: "Home"} Navigattion and Menus
                %li
                  %a{href: "#", title: "About Us"} Layouts
                %li
                  %a{href: "#", title: "Images"} Animations and Effects
                %li
                  %a{href: "javascript:;", title: "Sign in"} Forms
                  %ul.dropdown-menu.sub
                    %li
                      %a{href: "#", title: "Home"} Buttons
                    %li
                      %a{href: "#", title: "About Us"} Tables
                    %li
                      %a{href: "#", title: "Images"} Images
                    %li
                      %a{href: "#", title: "Sign in"} Charts
            %li
              %a{href: "#", title: "Home"} Mobile
            %li
              %a{href: "#", title: "About Us"} Skins
            %li
              %a{href: "#", title: "Images"} jQuery
            %li.separate
            %li
              %a{href: "#", title: "Sign in"} Wordpress

.wrap.container
  #headerSlider
    .glow
      .menu-wrap
        / start menu wrap
        .main-menu-wrap
          / start logo
          .logo
            %img{alt: "", src: "images/logo.png"}/
          / end logo
          / start main menu
          .main-menu
            %ul
              %li.active
                %a{href: "#"}
                  HOME
                  %span it is home
                %ul
                  %li
                    %a{href: "index.html"} Nivo slider
                  %li
                    %a{href: "index2.html"} Slide down slider
                  %li
                    %a{href: "index3.html"} Elastic Image Slideshow
                  %li.drop
                    %a{href: ""} Static Slider
                    %ul
                      %li
                        %a{href: "index4.html"} Slider with center text
                      %li
                        %a{href: "index5.html"} Slider with right video
                      %li
                        %a{href: "index6.html"} Slider with left video
              %li
                %a{href: "#"}
                  PAGES
                  %span about pages
                %ul
                  %li
                    %a{href: "services.html"} Services
                    %h2.title Web Studio
                    %img{alt: "Web Studio", src: "images/facebook_icon.jpg"}/
                    %p We build scalable web applications and turn key SaaS solutions that delight the audiences that use them.
                  %li
                    %a{href: "typography.html"} Typography
                    %img{alt: "Delicious", src: "images/facebook_icon.png"}/
                  %li
                    %a{href: "shadow-style.html"} Shadow and Hover Style
                  %li
                    %a{href: "pricing-tables.html"} Pricing Table
                  %li
                    %a{href: "table_and_columns.html"} Table and Columns
                  %li
                    %a{href: "sitemap.html"} Sitemap
                  %li
                    %a{href: "faq.html"} FAQ's
                  %li
                    %a{href: "404.html"} 404 Page
              %li
                %a{href: "#"}
                  BLOG
                  %span blog post
                %ul
                  %li
                    %a{href: "blog-left-sidebar.html"} Blog Left Sidebar
                  %li
                    %a{href: "blog-right-sidebar.html"} Blog Right Sidebar
                  %li
                    %a{href: "blog-details.html"} Blog Details
              %li
                %a{href: "about-us.html"}
                  ABOUT US
                  %span who we are
              %li
                %a{href: "#"}
                  PORTOFOLIO
                  %span it is portofolio
                %ul
                  %li
                    %a{href: "portofolio-1-columns.html"} Portofolio one Column
                  %li
                    %a{href: "portofolio-2-columns.html"} Portofolio two Column
                  %li
                    %a{href: "portofolio-3-columns.html"} Portofolio three Column
              %li
                %a{href: "contact-us.html"}
                  CONTACT
                  %span contact us
          / end main menu
        / end main menu wrap
      / end menu wrap
  / end header section
  .clear
